/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Font Family */
  --primaryFont: "Quicksand", serif;
  --secondaryFont: "Raleway", serif;

  /* Colors */
  --blackColor: rgb(0, 0, 0);
  --whiteColor: rgb(255, 255, 255);
  --orangeColor: rgb(254, 163, 1);
  --skyBlue: rgb(1, 172, 253);
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--primaryFont);
}
/* Shared Style */
.btn {
  padding: 6px 18px;
  border-radius: 8px;
  font-family: var(--primaryFont);
  background-color: var(--orangeColor);
  color: var(--whiteColor);
  font-size: 1.06rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.04);
}
.button-container i {
  font-size: 26px;
  display: none;
}
.section-title {
  color: var(--blackColor);
  font-size: 2.44rem;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 68px;
}
/* Header Section Style */
.header {
  max-width: 984px;
  margin: 0 auto;
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.logo-image {
  width: 48px;
}
.logo-title {
  color: rgb(17, 17, 17);
  font-size: 1.73rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 8px;
}

/* NavLinks */
.navlinks ul li {
  display: inline-block;
}
.navlinks ul > li > a {
  font-size: 1.06rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}
.navlinks .home {
  color: var(--orangeColor);
}
.home:hover {
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}
.navlinks .about {
  color: var(--skyBlue);
}
.about:hover {
  background: var(--skyBlue);
  color: var(--whiteColor);
}
.navlinks .facilities {
  color: rgb(5, 212, 223);
}
.facilities:hover {
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}
.navlinks .admission {
  color: rgb(93, 88, 239);
}
.admission:hover {
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}
/* Nav End */

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 14px;
}
.hero .hero-content {
  max-width: 540px;
}
.hero .hero-title {
  font-size: 2.9rem;
  font-weight: 700;
}
.hero-title .orange {
  color: var(--orangeColor);
}
.hero-title .skyblue {
  color: var(--skyBlue);
}
.hero .hero-description {
  color: rgb(17, 17, 17);
  font-size: 1.06rem;
  font-weight: 400;
  margin: 16px 0;
  line-height: 22px;
}
.hero .btn {
  background: rgb(17, 17, 17);
  font-weight: 700;
}
.hero .image-container {
  max-width: 395px;
}
.hero .image-container img {
  width: 100%;
}
/* Header Style End */

/* Curriculum Section Style */
.curriculum {
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.curriculum .card-container {
  display: flex;
  padding: 0 120px;
  gap: 20px;
}
.curriculum .card {
  max-width: 310px;
  text-align: center;
  padding: 42px 34px 49px;
  border-radius: 14px;
  box-shadow: inset 0px 0px 23px 0.94px rgba(0, 0, 0, 0.05);
}
.curriculum .card-1 {
  background: linear-gradient(rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
}
.curriculum .card-2 {
  background: linear-gradient(rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
}
.curriculum .card-3 {
  background: linear-gradient(rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
}
.curriculum .card a {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
}
.curriculum .card-1 a {
  color: rgb(100, 200, 255);
}
.curriculum .card-2 a {
  color: rgb(240, 170, 0);
}
.curriculum .card-3 a {
  color: rgb(135, 0, 255);
}

.card-container img {
  width: 100px;
}
.card-container .title {
  color: rgb(32, 32, 32);
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 10px;
}
.curriculum .description {
  color: rgb(128, 128, 128);
  font-family: var(--secondaryFont);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 23px;
  margin: 20px 0;
}
.curriculum .arrow {
  text-align: center;
  margin: 68px 0 50px 0;
}
.curriculum .arrow i {
  padding: 15px 17px;
  margin: 0 3px;
  border-radius: 50%;
  color: var(--whiteColor);
  background-color: var(--orangeColor);
  transition: transform 0.3s;
}
.curriculum .arrow i:hover {
  transform: scale(1.08);
}
/* Responsive */
@media screen and (max-width: 576px) {
  .header {
    padding: 16px;
  }
  .navlinks,
  .navbar .btn,
  .logo-title {
    display: none;
  }
  .navbar i {
    display: block;
  }
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero .hero-title {
    font-size: 1.7rem;
  }
  .hero-description {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .section-title {
    font-size: 1.38rem;
    margin-bottom: 10px;
  }
  /* Curriculum */
  .curriculum .card-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .curriculum .arrow {
    display: none;
  }
}

/* For Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header {
    padding: 10px 20px;
  }
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-title {
    margin-top: 80px;
    margin-bottom: 10px;
  }
  /* Curriculum */
  .curriculum .card-container {
    align-items: center;
    padding: 20px;
  }
  .curriculum .card{
    padding:16px 8px;
  }
}
