/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Font Family */
  --primaryFont: "Quicksand", serif;
  --secondaryFont: "Raleway", serif;

  /* Colors */
  --blackColor: rgb(0, 0, 0);
  --whiteColor: rgb(255, 255, 255);
  --orangeColor: rgb(254, 163, 1);
  --skyBlue: rgb(1, 172, 253);
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--primaryFont);
}
/* Shared Style */
.btn {
  padding: 6px 18px;
  border-radius: 8px;
  font-family: var(--primaryFont);
  background-color: var(--orangeColor);
  color: var(--whiteColor);
  font-size: 1.06rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.04);
}
.button-container i {
  font-size: 26px;
  display: none;
}
/* Header Section Style */
.header {
  max-width: 984px;
  margin: 0 auto;
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.logo-image {
  width: 48px;
}
.logo-title {
  color: rgb(17, 17, 17);
  font-size: 1.73rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 8px;
}

/* NavLinks */
.navlinks ul li {
  display: inline-block;
}
.navlinks ul > li > a {
  font-size: 1.06rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}
.navlinks .home {
  color: var(--orangeColor);
}
.home:hover {
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}
.navlinks .about {
  color: var(--skyBlue);
}
.about:hover {
  background: var(--skyBlue);
  color: var(--whiteColor);
}
.navlinks .facilities {
  color: rgb(5, 212, 223);
}
.facilities:hover {
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}
.navlinks .admission {
  color: rgb(93, 88, 239);
}
.admission:hover {
  background-color: var(--skyBlue);
  color: var(--whiteColor);
}
/* Nav End */

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 14px;
}
.hero .hero-content {
  max-width: 500px;
}
.hero .hero-title {
  font-size: 2.9rem;
  font-weight: 700;
}
.hero-title .orange {
  color: var(--orangeColor);
}
.hero-title .skyblue {
  color: var(--skyBlue);
}
.hero .hero-description {
  color: rgb(17, 17, 17);
  font-size: 1.06rem;
  font-weight: 400;
  margin: 16px 0;
  line-height: 22px;
}
.hero .btn {
  background: rgb(17, 17, 17);
  font-weight: 700;
}
.hero .image-container {
  max-width: 395px;
}
.hero .image-container img {
  width: 100%;
}
/* Header Style End */

/* Responsive */
@media screen and (max-width: 576px) {
  .header {
    padding: 16px;
  }
  .navlinks,
  .navbar .btn {
    display: none;
  }
  .navbar i {
    display: block;
  }
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-title {
    font-size: 1.4rem;
  }
  .hero-description {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

/* For Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header {
    padding: 10px 20px;
  }
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
}
